body{
	background-color: rgb(213, 224, 224);
}

#title{
	font-family: sans-serif;
	color: steelblue;
	animation-name: black-to-blue;
	animation-duration: 1s;
	animation-timing-function: linear;
	font-weight: 400;
}

#subtitle{
	color: green;
	font-family: sans-serif;
	animation-name: white-to-green;
	animation-duration: 1s;
	animation-delay: 1s;
	animation-timing-function: ease-in;
	font-weight: 100;
}

#image{
	position: relative;
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 13%;
	padding: 5px;
	background:black;
	border-radius: 20px
}

#list{
	font-size: 4mm;
	font-family: sans-serif;
}

#quote{
	text-indent: 30pt;
	font-size: 5mm;
}

#author{
	text-indent: 30pt;
	font-size: 2;
}

.footer{
	font-weight: 100;
	color: rgb(157, 41, 214);
	bottom: 0;
 	width: 100%;
  	height: 2rem; 
  	}

#link{
	text-decoration: none;
	color: rgb(3, 140, 252);

}

@keyframes black-to-blue{
	0%{color: rgb(4,8,11)}
	20%{color: rgb(21,38,53)}
	50%{color: rgb(32,59,81)}
	75%{color: rgb(54,99,138)}
	100%{color: rgb(70,130,180)}
}

@keyframes white-to-green{
	0%{color: white}
	50%{color: rgb(50,205,50)}
	100%{color: green}
}
